.text-red{
    color: #e74c3c;
}
.text-yellow{
    color: #f1c40f;
}
.text-underline{
    text-decoration: underline;
}
.text-bold{
    font-weight: bold;
}
hr{
    max-width: 800px;
    margin-top: 50px;
}